  .login {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .logo {
          display: flex;
          align-content: center;
          font-size: 5rem;
          border: 5px solid rgb(255, 255, 255, 0.9);
          color: rgb(255, 255, 255, 0.9);
          border-radius: 50%;
          padding: 1rem;
          margin: 0 0 2rem 0;
      }
      ion-item {
          border-radius: 10px;
          width: 85%;
          height: auto;
          --background: var(--ion-color-primary-tint);
          color: #fff;
      }
      ion-button {
          width: 85%;
          font-weight: bold;
      }
      ion-button:first-of-type {
          margin-top: 3rem;
      }
      ion-img {
          display: flex;
          margin-top: 5rem;
      }
  }
